@media  (max-width: 600px) {
   .header__ul{
    display: flex;
    justify-content:center;
    margin-right: 20px;
    gap: 15px;
   }
   .project__list{
    padding-left: 10px;
   display: grid;
   grid-template-columns: 1fr;
   }

   .btn {
    margin-left: 124px;
   }
   .info__title {
    margin: 10px 10px 10px 10px;
   }
   .header__logo {
    margin-left: 15px;
   }
   .container__footer{
     padding-top: 30px;
   }
   .span {
    margin-top: 80px;
   }
   .logo{
    margin-left: 10px;
   }





}




    
       