* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
}

.main-section {
  height: 760px;
  background: #171718;
  flex-shrink: 0;
  color: #fff;
}

.header {
  padding: 20px 0;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #f8eeee;
}

.header__logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}
.logo {
  color: #fff;

  font-size: 24px;

  font-weight: 400;
  line-height: 100%;
}

.header__ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.header__a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.info {
  margin-top: 182px;
  max-width: 630px;
  margin-inline: auto;
}

.info__title {
  color: #fafafa;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
}

.info_title_active {
  color: #5c62ec;
  font-size: 60px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
}

.info__role {
  color: #fafafa;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  text-align: center;
}

.info__desc {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5px;
  padding-top: 20px;
}

.btn {
  margin-top: 52px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 12px 28px;
  display: inline-block;
  cursor: pointer;
  margin-left: 238px;
}

.btn_primary {
  background: #5c62ec;
}

.project__title {
  color: rgb(66, 19, 194);
  text-align: center;

  font-size: 60px;

  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}
img {
  max-width: 100%;
}

.item__img {
  border-radius: 10px;
}

.item__title {
  color: #171718;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
  padding: 15px 20px 25px 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
}

.container__footer {
  max-width: 100%;
  height: 200px;
  padding-top: 60px;
  background-color: #171718;
  display: flex;
  justify-content: center;
}

.social {
  align-items: center;
  display: inline-flex;
  gap: 30px;
}

.span {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  position: absolute;
  margin-top: 120px;
  padding-top: 31px;
}
